@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Orbitron:wght@400..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  width: 100px;
  border-radius: 50px;
}

.header {
  color: #fff;
  background-color: #400071;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  /* border: 2px solid black; */
}

.header-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* ?hero */
.header-hero {
  /* border: 2px solid black; */
  display: flex;
  width: 80%;
  gap: 90px;
  margin: 100px 0;
}

.hero-info{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap:25px;
}

.hero-title{
  font-size: 48px;
  text-align: left;
}

.header-text{
  font-size: 18px;
  line-height: 1.5;
}

.button-hero{
  align-self: baseline;
  padding: 10px 25px;
  border-radius: 12%;
  text-align: center;
  color: #000;
  font-weight: bold;
  background-color: #FFB023;
}

.hero-img{
  flex: 1;
  align-self: flex-end;
}

.img-hero{
  width: 70%;
  height: 300px;
  
}

/* fin header */